stages:
  - build
  - test

variables:
  MAVEN_OPTS: "-Dmaven.test.failure.ignore=true"

default:
  image: maven:3.9.6-eclipse-temurin-17
  before_script:
    - echo "Starting CI Pipeline for Booking API Tests"

build:
  stage: build
  script:
    - mvn -q -DskipTests clean package
  artifacts:
    paths:
      - target
    expire_in: 1 week

test:
  stage: test
  script:
    - mvn test
  artifacts:
    when: always
    reports:
      junit:
        - target/surefire-reports/*.xml
    paths:
      - target/*.json
      - target/*.html
      - target/cucumber-reports/
      - target/surefire-reports/
    expire_in: 1 week